# Kommentar hinzugefügt (#{{id}})

{{displayName}} hat folgenden Kommentar zu dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} hinzugefügt:

{{{comment.comment}}}
