# {{title}}

{{displayName}} created the pull request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}).

{{#isReviewer}}
You are chosen as reviewer for this pull request.
{{/isReviewer}}

## The pull request:

#### {{pullRequest.title}}

{{{pullRequest.description}}}
