# Antwort hinzugefügt (#{{id}})

{{displayName}} hat folgende Antwort zu dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} hinzugefügt:

{{{comment.comment}}}
