<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional //EN">
<html>
{{> head}}
<body>

<div>
  {{displayName}} hat den folgenden Kommentar zu dem Pull Request #{{pullRequest.id}} <a href="{{link}}" >{{pullRequest.title}}</a> hinzugefügt:
</div>

<div>
  {{comment.comment}}
</div>

</body>
</html>
