# Antwort hinzugefügt (#{{id}})

{{displayName}} hat folgende Antwort in einer Unterhaltung, an der Sie beteiligt sind, zu dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} hinzugefügt:

{{{comment.comment}}}
