# Reply added (#{{id}})

{{displayName}} added the following reply in a conversation with your participation in the pull request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}}:

{{{comment.comment}}}

