<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional //EN">
<html>
{{> head}}
<body>

<div>
  {{displayName}} added the following comment in the pull request #{{pullRequest.id}} <a href="{{link}}" >{{pullRequest.title}}</a>
</div>
<div>
  {{comment.comment}}
</div>
</body>
</html>
