# Antwort gelöscht (#{{id}})

{{displayName}} hat folgende Antwort aus dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} gelöscht:

{{{oldComment.comment}}}
