# Antwort gelöscht (#{{id}})

{{displayName}} hat folgende Antwort in einer Unterhaltung, an der Sie beteiligt sind, aus dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} gelöscht:

{{{oldComment.comment}}}
