<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional //EN">
<html>
{{> head}}
<body>

<div>
  {{displayName}} hat einen Kommentar der Pull Request #{{pullRequest.id}} gelöscht <a href="{{link}}" >{{pullRequest.title}}</a>
</div>
<div>
  {{oldComment.comment}}
</div>

</body>
</html>
