# Kommentar gelöscht (#{{id}} {{url}})

{{displayName}} hat den folgenden Kommentar aus dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} gelöscht:

{{{oldComment.comment}}}
