# {{title}}

{{displayName}} modified the pull request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}):

{{#isReviewer}}
You are chosen as reviewer for this pull request.
{{/isReviewer}}

## The pull request:

#### {{oldPullRequest.title}}

{{{oldPullRequest.description}}}

## is modified to:

#### {{pullRequest.title}}

{{{pullRequest.description}}}

