# {{title}}

{{displayName}} modified the following comment in the pull request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}):

## The comment:

{{{oldComment.comment}}}


## is modified to:

{{{comment.comment}}}
