# {{title}}

{{displayName}} hat den folgenden Kommentar aus dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) geändert:

## Der Kommentar

{{{oldComment.comment}}}

## wurde geändert zu:

{{{comment.comment}}}
