# {{title}}

{{displayName}} hat den Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) geändert:

{{#isReviewer}}
Sie sind als Reviewer für diesen Pull Request ausgewählt worden.
{{/isReviewer}}

## Der Pull Request:

#### {{oldPullRequest.title}}

{{{oldPullRequest.description}}}

## wurde geändert zu:

#### {{pullRequest.title}}

{{{pullRequest.description}}}
