# Antwort verändert (#{{id}})

{{displayName}} hat folgende Antwort aus dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} geändert:

## Die Antwort

{{{oldComment.comment}}}

## wurde geändert zu:

{{{comment.comment}}}
