# Kommentar verändert (#{{id}})

{{displayName}} hat folgenden Kommentar aus dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} geändert:

## Der Kommentar

{{{oldComment.comment}}}

## wurde geändert zu:

{{{comment.comment}}}
