<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional //EN">
<html>
{{> head}}
<body>


{{displayName}} hat den Pull Request #{{pullRequest.id}} <a href="{{link}}" >{{pullRequest.title}}</a> geändert:

{{#isReviewer}}
<h3>Sie sind als Reviewer für diesen Pull Request ausgewählt worden.</h3>
{{/isReviewer}}

<h2>Der Pull Request:</h2>
<div>
  {{oldPullRequest.title}}
  <p>{{oldPullRequest.description}}</p>
</div>

<h2>wurde geändert zu:</h2>
<div>
  {{pullRequest.title}}
  <p>{{pullRequest.description}}</p>
</div>


</body>
</html>
