# Mention in comment added (#{{id}})

{{displayName}} mentioned you in the following comment in the pull request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}}:

{{{comment.comment}}}
