# Erwähnung in Kommentar hinzugefügt (#{{id}})

{{displayName}} hat Sie in folgendem Kommentar zu dem Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} erwähnt:

{{{comment.comment}}}
