<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional //EN">
<html>
{{> head}}
<body>

{{displayName}} hat den Pull Request #{{pullRequest.id}} abgelehnt<a href="{{link}}" >{{pullRequest.title}}</a>

</body>
</html>
