# PR wurde zum Review freigegeben (#{{id}})

{{displayName}} hat den Pull Request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} zum Review freigegeben.

{{#isReviewer}}
Sie sind als Reviewer für diesen Pull Request ausgewählt.
{{/isReviewer}}

## Der Pull Request:

#### {{pullRequest.title}}

{{{pullRequest.description}}}
