# PR opened for review (#{{id}})

{{displayName}} opened the pull request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} for review.

{{#isReviewer}}
You are chosen as reviewer for this pull request.
{{/isReviewer}}

## The pull request:

#### {{pullRequest.title}}

{{{pullRequest.description}}}
