# PR converted to Draft (#{{id}})

{{displayName}} converted the pull request #{{pullRequest.id}} [{{pullRequest.title}}]({{link}}) in {{namespace}}/{{name}} to draft.

{{#isReviewer}}
You are chosen as reviewer for this pull request.
{{/isReviewer}}

## The pull request:

#### {{pullRequest.title}}

{{{pullRequest.description}}}
